.calculator-container {
    width: 300px;
    margin: 50px auto;
    padding: 20px;
    background-color: #000000;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.large-display {
    width: 100%;
    height: 70px;
    margin-bottom: 20px;
    padding: 10px;
    font-size: 28px;
    text-align: right;
    border: none;
    border-radius: 15px;
    background-color: #f9f9f9;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

button {
    height: 50px;
    padding: 10px;
    font-size: 20px;
    border: none;
    border-radius: 25px;
    background-color: #4caf50;
    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.orange-button {
    background-color: #ff9800;
}

.dark-gray-button {
    background-color: #607d8b;
}

button:hover {
    background-color: #3e8e41;
}